.table {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-width: thin;
  /* border-spacing: 2px; */
  border-style: solid;
  border: 1px solid transparent;
  border-collapse: collapse;
  background-color: #f5f4fa;
}

.table__body {
  border: 1px solid transparent;
  width: 600px;
}
