.status {
  display: inline-block;
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 15px 0 0 5px;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}
