.stats {
  display: flex;
  justify-content: center;
}

.item {
  padding: 5px;
  outline: 1px solid #d0d1d0;
  width: 60px;
}
.item:last-child {
  margin-right: 0px;
}

.item__desc {
  display: flex;
  justify-content: center;
}
.item__numbers {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
